*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body, #root, .App {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  background-color: #282c34;
  color: #61dafb;
}
